# --- System / IDE ---
.DS_Store
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/launch.json

# --- Backend Recursive (Finds meuk in all subfolders) ---
**/__pycache__/
**/*.py[cod]
**/*.egg-info/
**/*.egg/
**/.eggs/
**/.pytest_cache/
**/.mypy_cache/

# --- Backend Path-Specific (Anchored to backend folder) ---
backend/.env
backend/.venv/
backend/venv/
backend/env/
backend/build/
backend/dist/
backend/.cache/
backend/.coverage
backend/coverage.xml
backend/playground.py
backend/testme.db
backend/*__upload_cache.json

# --- Frontend Path-Specific ---
frontend/node_modules/
frontend/dist/
frontend/out/
frontend/.env*.local
frontend/*.log*

# -- Monorepo stuff
node_modules
.env

# --- Static/Media ---
backend/static/components/
backend/navigator/media/static/
