{$AMCAT4_URL:localhost} {
    # API - Proxy to the FastAPI container
    handle_path /api/* {
        reverse_proxy api:5000
    }

    # UI - Static SPA logic
    handle {
        root * /srv
        # Enable compression
        encode zstd gzip

        # Check if the file exists; if not, serve index.html (SPA routing)
        try_files {path} /index.html

        # Serve the files
        file_server
    }

    # Optional: Security headers
    header {
        # Prevent the site from being embedded in iframes
        X-Frame-Options "SAMEORIGIN"
        # Hide the Caddy version for a bit more privacy
        -Server
    }
}
